@using Taskify.Ui.Contracts

@page "/"

@inject IFormFactor FormFactor

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.